*{
    box-sizing: border-box;

}

body{
    font-family: sans-serif;
    margin: 0;
}

.movie{
    margin: 2rem;
    width: 300px;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    border-color: rgb(28, 60, 82);
}

.movie img{
    max-width: 100%;
}
.movie-info{
    color: white;
    padding: 0.5rem 1rem 1rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    justify-content: space-between;
}

.movie-info h3{
    margin: 0;
}
.movie-info span{
    background-color: #1d6468;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    border-radius: 3px;
     
}
.search {
    background-color: transparent;
    border: 2px solid #fafdfd;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
.search::placeholder {
    color: #7378c5;
}
.search:focus {
    background-color: #11500b;
    outline: none;
}
main{
    display: flex;
    flex-wrap: wrap;
}
header {
    background-color: #1bdd72;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}
.overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}
.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}