* {
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    color: white;
    font-family: sans-serif;
    margin: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
}
.pw-container{
    background-color: rgb(99, 33, 63);
    box-shadow: 0 4px black;
    width: 400px;
    
}
.pw-header{
    padding: 1rem;
}
.pw-body{
    padding:0 1rem 1rem;
}
.pw{
    background-color:white;
    height: 70px;
    width: 100%;
    color: black;
    display: flex;
    position: relative;
    font-size: 2rem;
    padding: 1rem;
    align-items: center;
    overflow: auto;
}

.pw button{
    background-color: rgb(252, 209, 216);
    position: absolute;
    opacity: 0;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 0.25rem;
    color: black;
    top: 0;
    right: 0;
    transform: translateX(0,-100%);
    transition: opacity 0.2s ease;
}

.pw:hover button{
    opacity: 1;
}
.form-control{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;

}
.generate{
    display: block;
    background-color: rgb(26, 228, 235);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
    margin-top: 1rem;
    border: none;
    width: 100%;

}