*{
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

canvas{
    border: 2px solid rebeccapurple;
}
.toolbox{
    background-color: purple;
    width: 800px;
    padding: 1rem;
    display: flex;
    border: 1px solid purple;
}

.toolbox > * {
    background-color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.25rem;
    margin: 0.25rem;
    height: 50px;
    width: 50px;
}

.toolbox > *:last-child {
    margin-left: auto;
}

