*{
    box-sizing: border-box;
}

body{
    background-color: rgb(71, 71, 161);
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);


}

.card{
    background-color: rgb(31, 119, 179);
    background-image: linear-gradient(120deg, #eedd92 0%, #c73927 100%);
    display: flex;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(0, 0, 0, 0.1);
    max-width: 900px;
}
.avatar {
    border: 10px solid rgb(30, 84, 146);
    border-radius: 50%;
    height: 150px;
    width: 150px;

}
input{
    background-color: white;
    border-radius: 10px;
    border: none;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(0, 0, 0, 0.1);

}

imput::placeholder{
    color:#bbb;
}


.user-info{
    color: white;
    margin-left: 2rem;

}
.user-info h2{
    margin-top: 0;
}

.user-info ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 300px;
    
}

.user-info ul li{
    display: flex;
    align-items: center;
}
.user-info ul li strong{
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo {
    background-color: #2a2a72;
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}